@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
.poppin-font {
    font-family: 'Poppins', sans-serif;

}
.noto-sans-font{
font-family: 'Noto Sans', sans-serif;
}
.russo-font {
    font-family: 'Russo One', sans-serif;
}