@import "tailwindcss/base";
@import "tailwindcss/components";
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100&display=swap');
@layer components {
    .mobilenav{
        grid-template-areas: "logo icons"
                              "nav-items nav-items"
        ;
    }
    .largenav{
        grid-template-areas: "logo nav-items icons";
    }
    .nav-item{
        @apply transform p-2 hover:text-blue-200 hover:scale-125 cursor-pointer;
    }
}
.primary-font {
    font-family: 'Ubuntu', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
}
.darken {
    filter: brightness(50%);
}